<% users = @users %>
<% if users.any? %>
  <div class="text-center">
    <h1>ユーザ一覧</h1>
    <br>
    <br>
    <br>
    <ul class="list-unstyled">
      <% users.each do |user| %>
      <li><%= image_tag user.image.thumb100.to_s %></li>
      <li><%= link_to 'ユーザ詳細へ', user_path(user), class: 'btn btn-sm btn-primary' %></li>
      <br>
      <li>ユーザネーム　<%= user.name %></li>
      <br>
      <h5>最近のレビュー</h5>
      <li>投稿日時　<%= Review.last.created_at %>　　ゲームタイトル　<%= Review.last.game.title %></li>
      <li>レビュー作ってから</li>
      <li>レビュー作ってから</li>
      <br>
      <br>
      <% end %>
    </ul>
    <%= paginate users %>
  </div>
<% end %>
