<div class="text-center">
  <h1>ユーザ詳細</h1>
  <br>
  <br>
  <br>
  <ul class="list-unstyled">
    <li><%= image_tag @user.image.thumb.to_s %></li>
    <% if current_user == @user %>
      <li><%= link_to 'ユーザ情報編集', edit_user_path(@user), class: 'btn btn-sm btn-primary' %></li>
    <% else %>
    <% end %>
    <br>
    <li>ユーザネーム　<%= @user.name %></li>
    <br>
    <li><%= link_to 'お気に入り登録 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></li>
    <br>
    <li><%= link_to '新規レビュー投稿', new_review_path, class: 'btn btn-sm btn-primary' %></li>
    <br>
    <br>
    <h4>投稿したレビュー</h4>
    <br>
    こっからeachで表示　レビュー出来てから作る
    <li>ゲームタイトル　サンプル</li>
    <br>
    <li><%= link_to 'お気に入り登録 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></li>
    <br>
    <li>発売元メーカー　サンプル</li>
    <br>
    <li><%= link_to 'お気に入り登録 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></li>
    <br>
    <li>評価　星5</li>
    <br>
    <br>
    <h5>レビュー</h5>
    <br>
    <li>投稿日時　引っ張ってくる</li>
    <br>
    <li><%= link_to '投稿編集 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></li>
    <br>
    <li><%= link_to '投稿削除 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></li>
    <br>
    <li>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">レビューの表示・非表示</a>
            </p>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>ここにレビュー内容を引っ張ってくる</p>
              <p><%= link_to 'お気に入り登録 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">コメントの表示・非表示</a>
            </p>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <p>ここにコメントを引っ張ってくる</p>
              <p>
                ここに投稿フォーム　コメントができてから
                <!-- 最初の"<"外した
                %= form_with(model: @comment, local: true) do |f| %>
                  %= render 'layouts/error_messages', model: f.object %>
      
                  div class="form-group">
                    %= f.label :comment, 'コメント' %>
                    %= f.text_field :comment, class: 'form-control' %>
                  /div>
                  
                  %= f.submit '投稿', class: 'btn btn-primary btn-sm' %>
                % end %>
                -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

