<div class="text-center">
  <h4>発売元メーカー登録</h4>
  <br>
  <br>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @maker, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :maker, '発売元メーカー' %>
        <%= f.text_field :maker, class: 'form-control' %>
      </div>
      
      <%= f.submit '登録', class: 'btn btn-primary btn-sm' %>
      <br>
      <br>
      <%= link_to 'キャンセル', new_game_path, class: 'btn btn-sm btn-dark' %>
    <% end %>
  </div>
</div>