<div class="text-center">
  <h1>レビュー一覧</h1>
  <br>
  <br>
  <br>
  <ul class="list-unstyled">
    <li>ユーザネーム検索ボックス</li>
    <li>ゲームタイトル検索ボックス</li>
    <li>発売元メーカー検索ボックス</li>
    <li>並び替えボックスと検索ボタン</li>
    <br>
    
    <% @reviews.each do |review| %>
    <li>ユーザネーム　<%= review.user.name %></li>
    <p><%= link_to 'お気に入り登録 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></p>
    <li>ゲームタイトル　<%= review.game.title %></li>
    <p><%= link_to 'お気に入り登録 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></p>
    <li>発売元メーカー　<%= review.game.maker.maker %></li>
    <p><%= link_to 'お気に入り登録 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></p>
    <li>評価　<%= review.score %></li>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">レビューの表示・非表示</a>
          </p>
        </div>
        <div id="collapse3" class="panel-collapse collapse in">
          <div class="panel-body">
            <li>投稿日時　<%= review.created_at %></li>
            <li><%= review.review %></li>
            <p><%= link_to 'お気に入り登録 あとでパス変える', root_url, class: 'btn btn-sm btn-primary' %></p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">コメントの表示・非表示</a>
          </p>
        </div>
        <div id="collapse4" class="panel-collapse collapse in">
          <div class="panel-body">
            <li>ここにコメントと投稿フォーム</li>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <% end %>
    
  </ul>
  <%= paginate @reviews %>
</div>
