<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<% if logged_in? %>

<div class="text-center">
  <h1>レビュー一覧</h1>
  <br>
  <br>
  <br>
  <ul class="list-unstyled">
    
    <%= search_form_for(@query, url: reviews_path) do |f| %>
      <%= f.label :user_name_or_game_title_or_game_maker_maker, "ユーザネーム or ゲームタイトル or 発売元メーカー " %>
      <%= f.search_field :user_name_or_game_title_or_game_maker_maker_cont %>

      <%= f.submit %>
    <% end %>
    
    <br>
    <br>
    <% @reviews.each do |review| %>
    <li>ユーザネーム　<%= review.user.name %></li>
    <p><%= link_to 'ユーザ詳細へ', user_path(review.user), class: 'btn btn-sm btn-primary' %></p>
    <li>ゲームタイトル　<%= review.game.title %></li>
    <p><%= render 'favorites_games/like_button', game: review.game %></p>
    <li>発売元メーカー　<%= review.game.maker.maker %></li>
    <p><%= render 'favorites_makers/like_button', maker: review.game.maker %></p>
    <li>評価　<%= review.score %></li>
    <ul class="list-unstyled">
      <li>
        <p class="btn btn-info btn-sm" >レビューの表示・非表示</p>
        <ul class="list-unstyled" style="display: none;">
          <li class="content1-1">投稿日時　<%= review.created_at %></li>
          <li class="content1-2"><%= review.review %></li>
          <li class="content1-3"><%= render 'favorites_reviews/like_button', review: review %></li>
          <br>
        </ul>
      </li>
      <li>
        <p class="btn btn-info btn-sm">コメントの表示・非表示</p>
        <ul class="list-unstyled" style="display: none;">
          <li>
            <% comments = Comment.where(review_id: review.id) %>
            <% comments.each do |comment| %>
              投稿日時: <%= comment.created_at  %>　ユーザネーム: <%= comment.user.name  %>
              <br>
              コメント内容:　<%= comment.comment  %>
              <br>
              <br>
            <% end %>
            <%= link_to 'コメント投稿画面へ', new_review_comment_path(review.id), class: 'btn btn-sm btn-primary' %>
          </li>
        </ul>
      </li>
    </ul>
    <br>
    <br>
    <% end %>
    
  </ul>
  <%= paginate @reviews %>
</div>

<% else %>

<div class="text-center">
  <h1>レビュー一覧</h1>
  <br>
  <br>
  <br>
  <ul class="list-unstyled">
    
    <%= search_form_for(@query, url: reviews_path) do |f| %>
      <%= f.label :user_name_or_game_title_or_game_maker_maker, "ユーザネーム or ゲームタイトル or 発売元メーカー " %>
      <br>
      <%= f.search_field :user_name_or_game_title_or_game_maker_maker_cont %>
      <br>
      <br>
      <%= f.label :score, "評　価" %>
      <br>
      <%= f.search_field :score_gteq %>以上〜 <%= f.search_field :score_lt %>未満
      <br>
      <br>
      <%= f.submit %>
    <% end %>
    
    <br>
    <br>
    <% @reviews.each do |review| %>
    <li>ユーザネーム　<%= review.user.name %></li>
    <li>ゲームタイトル　<%= review.game.title %></li>
    <li>発売元メーカー　<%= review.game.maker.maker %></li>
    <li>評価　<%= review.score %></li>
    <ul class="list-unstyled">
      <li>
        <p class="btn btn-info btn-sm" >レビューの表示・非表示</p>
        <ul class="list-unstyled" style="display: none;">
          <li class="content1-1">投稿日時　<%= review.created_at %></li>
          <li class="content1-2"><%= review.review %></li>
          <br>
        </ul>
      </li>
      <li>
        <p class="btn btn-info btn-sm">コメントの表示・非表示</p>
        <ul class="list-unstyled" style="display: none;">
          <li>
            <% comments = Comment.where(review_id: review.id) %>
            <% comments.each do |comment| %>
              投稿日時: <%= comment.created_at  %>　ユーザネーム: <%= comment.user.name  %>
              <br>
              コメント内容:　<%= comment.comment  %>
              <br>
              <br>
            <% end %>
            <%= link_to 'コメント投稿画面へ', new_review_comment_path(review.id), class: 'btn btn-sm btn-primary' %>
          </li>
        </ul>
      </li>
    </ul>
    <br>
    <br>
    <% end %>
    
  </ul>
  <%= paginate @reviews %>
</div>

<% end %>

<script>
$(function(){
 
    //.accordion1の中のp要素がクリックされたら
	$('.list-unstyled p').click(function(){
 
		//クリックされた.accordion1の中のp要素に隣接するul要素が開いたり閉じたりする。
		$(this).next('ul').slideToggle();
 
	});
});
</script>